<!DOCTYPE html>

<head>
    <title>Social Graph Service</title>
</head>

<body>
    <form method="post" action="/message/add">
        <br>
        <label>Author</label>
        <input type="text" name="author">
        <br>
        <br>
        <label>Message</label>
        <input type="text" name="text">
        <br>
        <br>
        <input type="submit" value="Post message">
    </form>

    <h1>Persons</h1>
    <ul>
        <% persons.forEach(function(person){ %>
        <li><%= 'Author Nr. '+person.id+': '+person.name+' '+person.surname %></li>
        <% }) %>
    </ul>

    <h1>Messages</h1>
    <ul>
        <% messages.forEach(function(message){ %>
        <li><%= 'Author Nr. '+message.author+' posted: '+message.text+' on '+message.timestamp %></li>
        <% }) %>
    </ul>
</body>

</html>